<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>

<body>
    <h1>Todas la categorias</h1>

    {% for item in categories %}

    <table> 
        <strong>{{ item.category_name }} </strong> 
        {% if request.user is_superuser %}
        <button>
            <a href="{% url 'deleteCategory' item.id %}">ELIMINAR</a>
        </button>
        <button>
            <a href="{% url 'updateCategory' item.id %}">Editar</a>
        </button>
        {% endif %}
    </table>
    
    {% endfor %} 

    <a href="{% url 'homeLogin' %}">Regresar</a>

</body>

</html>