<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>¡What the blog!</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="appblog/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href=" {% static 'appblog/css/styles.css' %}" rel="stylesheet" />
    <link href=" {% static 'appblog/css/home.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <div class="d-flex">
            <a class="navbar-brand" href="{% url 'home' %}">
              <div class="logo-navbar">
                <img
                  src=" {% static 'appblog/assets/logo-no-name.jpeg' %}"
                  alt="logo"
                  class="bd-placeholder-img rounded-circle"
                />
              </div>
            </a>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link fw-bolder text-bg-dark " href="{% url 'login' %}">Ingresar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bolder text-bg-dark " href="{% url 'register' %}">Registrar</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome To What the Blog</h1>
          <p class="col-md-8 fs-4">---</p>
          <a href="{% url 'about' %}">
            <button class="btn btn-primary btn-lg" type="button">
              About us
            </button>
          </a>
        </div>
      </div>    
    </main>

  </body>
</html>