<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <h2> BlogUs</h2>
    <h3> Bienvenid@ {{ user.username }}</h3>
</head>
<body>
    <h1>Home!</h1>
   
    <lo>
        <a class="btn btn-outline-dark mt-auto" href="{% url 'login' %}">LOGEO USER</a> <br>
        <a class="btn btn-outline-dark mt-auto" href="{% url 'register' %}">REGISTRO DE USUARIO</a> <br>
    </lo>


  
</body>

</html>