

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACIONES</title>
</head>

<body>
    <h1>FORMULARIO DE PUBLICACIONES!</h1>
    <form action="{% url 'addPublication' %}" method="POST"> {% csrf_token %}
    
    <table>
        {{ formulary.as_table }}
    </table>
    
    <input type="submit", value="Publicar">
    
    </form>

    <a href="{% url 'homeLogin' %}">Regresar</a>
</body>

</html>