<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACIONES</title>
</head>

<body>
    <h1>PAGINA DE PUBLICACIONES</h1>
    {{ message }}
    {% if not publications.all %}
    <br>
    Aún no hay publicaciones <a href="{% url 'addPublication'  %}">¡Crea una!</a>
    <br>
    {% else %}
    {% for publication in publications %}
    
    
    <table> <strong>{{ publication.title }} | {{ publication.category }} | {{ publication.author }}</strong> <br>
        {{ publication.body }}
        {% if request.user == publication.author %}
        <br>
    <button>
        <a href="{% url 'deletePublication' publication.id %}">Eliminar</a>
    </button>
    <button>
        <a href="{% url 'updatePublication' publication.id %}">Editar</a>
    </button>

    {% endif %}
    <br>
    <button>
        <a href="{% url 'seePublication' publication.id %}">Leer más</a>
    </button>
        <br>
        <a href="{% url 'addComment' publication.id %}">comentar</a>
        <br>
        <strong>Comentarios: </strong>
        <br>
        {% if not publication.comments.all %}
        Aún no hay comentarios... <a href="{% url 'addComment' publication.id %}">¡Crea uno!</a>
        {% else %}
        {% for comment in publication.comments.all %}
        
        <strong>{{ comment.username }}  |  {{ comment.date_added }} </strong>
        <br>
        {{ comment.body }}
        
        <hr>
        
        
        {% endfor %}
        {% endif %}
        
    </table>
    <br>
    
    {% endfor %} 
   

    {% endif %}

  
    <a href="{% url 'addPublication' %}">Agregar nueva publicacion</a>
    <a href="{% url 'homeLogin' %}">Regresar</a>

</body>

</html>