<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creacion de publicaciones</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="appblog/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href=" {% static 'appblog/css/styles.css' %}" rel="stylesheet" />
    <link href=" {% static 'appblog/css/home.css' %}" rel="stylesheet" />
  </head>

  <body>
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
          <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9 py-1">

            <div class="card shadow-lg">
              <div class="card-body p-2">
                <h1 class="fs-4 card-title fw-bold mb-1">
                  Creacion de publicacion!
                </h1>

                <form  action="{% url 'addPublication' %}"
                method="POST"
                enctype="multipart/form-data">
                  {% csrf_token %}
                    {{ formulary.as_table }} {{ formulary.media }}
                  <button
                    type="submit"
                    class="btn btn-outline-dark mt-2 w-100"
                    type="submit"
                  >
                    Guardar
                  </button>
                </form>

                <h2>{{ message }}</h2>
              </div>
              <div class="card-footer py-3 border-0">
                <div class="text-center">
                  <a href="{% url 'homeLogin' %}" class="text-dark">Regresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>