<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACIONES</title>
</head>

<body>
    <h1>PAGINA DE PUBLICACIONES</h1>

    {% for publication in publication %}
    <br><br>
    <hr>
    <table> <strong>{{ publication.title }} | {{ publication.author }}</strong> <br>
        {{ publication.body }}
        <br>
        <a href="{% url 'addComment' %}">comentar</a>
        <br>
        <strong>Comentarios: </strong>
        <br>
        {% if not publication.comments.all %}
        Aún no hay comentarios... <a href="#">¡Crea uno!</a>
        {% else %}
        {% for comment in publication.comments.all %}
        
        <strong>{{ comment.commenter_name }}  |  {{ comment.date_added }} </strong>
        <br>
        {{ comment.comment_body }}
        <br>
        <hr>
        {% endfor %}
        {% endif %}

    </table>
    {% endfor %} 

    <a href="{% url 'homeLogin' %}">Regresar</a>

</body>

</html>