<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACIONES</title>
</head>

<body>
    <h1>PAGINA DE PUBLICACIONES</h1>
    {{ message }}
    {% if not publications.all %}
    <br>
    Aún no hay publicaciones <a href="{% url 'addPublication'  %}">¡Crea una!</a>
    <br>
    {% else %}
    {% for publication in publications %}
    
    
    <table> <strong>{{ publication.title }} | {{ publication.category }} | {{ publication.author }}</strong> <br>
        {{ publication.body | safe }}
       
    <br>
    <button>
        <a href="{% url 'seePublication' publication.id %}">Leer más</a>
    </button>
    
    </table>
    <br>
    {% endfor %} 
    {% endif %}

  
    <a href="{% url 'addPublication' %}">Agregar nueva publicacion</a>
    <a href="{% url 'homeLogin' %}">Regresar</a>

</body>

</html>