<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-</title>
</head>

<body>
    <h1>{{ publication.title }}</h1>
    
    <table> <strong>Titulo:{{ publication.title }} <br>
        Categoria: {{ publication.category }} <br>
        Autor: {{ publication.author }}</strong> <hr>
        {{ publication.body | safe }}
        <br>
        {% if publication.image %}
            <img src= "{{ publication.image.url }}"
            width=200>
        {% endif %}
        <br>
        <strong>Comentarios: </strong>
        <br>
        {% if not publication.comments.all %}
        Aún no hay comentarios... <a href="{% url 'addComment' publication.id %}">¡Crea uno!</a>
        {% else %}
        {% for comment in publication.comments.all %}
        
        <strong>{{ comment.username }}  |  {{ comment.date_added }} </strong>
        <br>
        {{ comment.body | safe }}
        
        <hr>
        {% if request.user == comment.username %}
        <br>
    <button>
        <a href="{% url 'deleteComment' comment.id %}">Eliminar</a>
    </button>
    <button>
        <a href="{% url 'updateComment' comment.id %}">Editar</a>
    </button>
    
        {% endif %}
        
        {% endfor %}
        {% endif %}
        <a href="{% url 'publication' %}">Regresar</a>
</body>

</html>